<nav class="navbar menu-border" role="navigation">
    <ul class="nav navbar-default nav-pills">
        <li class="active navigation home"><a href="/index">Home</a></li>
        <li class="navigation gallery"><a href="/">Gallery</a></li>
        <li class="navigation contactus"><a href="/">Contact Us</a></li>
        <li class="navigation about"><a href="/">About Us</a></li>
    </ul>
</nav>